
@import '~antd/dist/antd.css';
body{
  font-family: 'Quicksand', sans-serif;
}
#navbar {
  display: grid;
  min-height: 65px;
  grid-auto-flow: column;
  background-color: #fff;
  grid-gap: 1.5em;
  padding: 0 40px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.16);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
}
.logo-text{
  font-weight:1000;
  letter-spacing:1px;
  margin-top:10px;
  font-family: 'Quicksand', sans-serif;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;

}

a {
  text-decoration: none;
  color:#000;
  font-weight:1000;
  letter-spacing:1px;
}

a:hover {
  color: red;
}
.content{
  padding: 20px;
}
.salon-card{
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.16);
  background: #fff;
  border-radius: 20px;
  padding: 54px;
}
.margin-top{
  margin-top: 20px;
}
.padding-box{
  padding: 20px 30px;
}
.ic-size{
  font-size:20px;
}
.ic-size-btn{
  font-size:25px;
}
.ic-size-img{
  font-size: 40px;
}
.location-info{
  font-size:12px;
}
.location-info-detail{
  font-size: 11px;
}
.book-btn{
  background: #ff6600;
  color:#fff;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
.book-txt{
  color:#fff;
}
.book-txt:hover{
  color:#fff;
}
.image-list{
border-top-left-radius:20px;
border-top-right-radius:20px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  width: 100%;

  background: #364d79;
 
}
.ant-carousel .slick-slide img {
  max-width:100%;
  max-height: 100%;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.uk-top{
  margin-top:-20px;
}
.detail-head{
  margin-bottom:-4px;
  font-size: 20px;
}
.detail-head-des{
  margin-bottom:-2px;
  font-size: 16px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-130px * 9));
  }
}
@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-130px * 9));
  }
}
.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 90px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  /* background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(130px * 9);
}
.slider .slide {
  margin-top:20px;
  height: 100px;
  width: 130px;
}
.no-box-shadow{
  box-shadow:none;
}
.bx-sh{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background:#fff;
}
.catg{
  display: flex;
 /* background: #364d79; */
 width: 100%;
 margin-top:20px;
 
 }
.Male{
  margin:0 auto;
  height: 90px;
  width: 90px;
  background: #f8f8f8;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
}
.Female{
  margin:0 auto;
  margin-left: -190px;
  height: 90px;
  width: 90px;
  background: #f8f8f8;
  border-radius: 100%;
cursor: pointer;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
}
.cat-ic{
  margin-top:10px;
}
.underline{
  border-bottom: 4px solid #3498db;
padding-bottom:8px;
border-radius:100%;
}
.ant-checkbox-wrapper + span,
.ant-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
  padding-right: 20px;
    padding-left: 8px;
    line-height: 40px;
    color: #2c3e50;
    font-size: 15px;

    letter-spacing: 1px;
}
.ant-tabs-nav .ant-tabs-tab {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  margin: 0 32px 0 0;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: 'Quicksand', sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  color:#000;
}
.salon-desp{
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  line-height: 18px;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
}
/* 

 <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m padding-box no-box-shadow ">
                                <div style={{ width: '150px', margin: '0 auto' }}>
                                    <h4 className="uk-card-title uk-text-center underline">Services</h4>
                                </div>


                            </div>
*/

